.profile-main {
    height: 100%;
    width: 1000px;
    background-color: whitesmoke;
    border-radius: 3px;
    position: absolute;
    left: 15%;
    top: 20%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.profile-pic {
    border: 1px black solid;
    height: 200px;
    width: 200px;
}