.profile-main {
    height: 100%;
    width: 1000px;
    background-color: rgb(241, 231, 231, 0.7);
 
    border-radius: 3px;
    position: absolute;
    left: 15%;
    top: 20%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.profile-pic {
    border: 1px black solid;
        background-image: url('prof.png');
        background-size: 100% 100%;
    height: 200px;
    width: 200px;
    z-index: 10;
    opacity: 1;
 
}
.username-heading {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

.edit-profile-button {
    padding: 20px;
}
.bio-edit {
    text-align: left;
    width: 100px;
    font-weight: bold; 
}

.textarea-input {
     border: 1px grey solid;
    background: rgba(245, 245, 245, 0.87);
    text-align: left;
    padding: 2px;
    height: 150px;
    width: 250px;
}
.label-flex {
    display: flex;
}
.edit-submit {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
    width: 150px;
    text-align: center;
    background: rgba(233, 146, 161, 0.726);
    margin-left: 100px;
}

.edit-submit:hover {
    background: rgb(230, 116, 135);
}
.bio {
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-button {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
    width: 130px;
    text-align: center;
    background: rgba(233, 146, 161, 0.452); 
}

.edit-button:hover {
   background: rgba(233, 146, 161, 0.726);
}
.flex-profile {
    display: flex;
    justify-content: space-between;
}
.fa-cloud-upload-alt {
    font-size: 40px;
    padding-top: 20px;
    margin-left: 35px;
}

.form-upload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.upload-tagline {
    font-size: 40px;
    margin-bottom: 20px;
      font-family: 'Dancing Script', cursive;
      text-align: center;
      height: 40px;
}

.img-prev {
    height: 300px;
    width: 300px;
    object-fit: contain;
    border: 1px grey solid;
    border-radius: 2px;
    
}

#image-preview {
    opacity: 1;
}
.caption-input {
    border: 1px grey solid;
    border-radius: 2px;
    padding: 2px;
}